<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.zhangjinxu.mbgplugins.test.mapper.TestMapper">
  <resultMap id="BaseResultMap" type="com.github.zhangjinxu.mbgplugins.test.model.Test">
    <!--
    @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="time" jdbcType="DATE" property="time" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
    @mbg.generated
    -->
    id,name,time
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
    @mbg.generated
    -->
    delete from test
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.github.zhangjinxu.mbgplugins.test.model.Test">
    <!--
    @mbg.generated
    -->
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into test (name, time)
    values (#{name,jdbcType=VARCHAR}, #{time,jdbcType=DATE})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.github.zhangjinxu.mbgplugins.test.model.Test">
    <!--
    @mbg.generated
    -->
    update test
    set name = #{name,jdbcType=VARCHAR},
      time = #{time,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
    @mbg.generated
    -->
    select id, name, time
    from test
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    <!--
    @mbg.generated
    -->
    select id, name, time
    from test
  </select>

</mapper>